/**   defaults
  *   flex-direction: row
  *   flex-wrap: nowrap
***/

#page_article{
  width: 100%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: flex-start;
  position: relative;
  top: 100px;
}
#page_bookmark{
  width: 100%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: flex-start;
}
#page-user{
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#page-people{
  width:  100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}

/* media queries with magic constants 301 and 701
*/
@media screen and (max-width: 701px) {
  .page_container {
    width: 100%;
  }
}

@media screen and (max-width: 301px) {
  .page_container {
    width: 301px;
  }
}