.left-bar {
  z-index: var(--z-a);
  position: fixed;
  top: 53px;
  left: -50px;
  width: 50px;
  height: 100px;
  background: var(--opa);
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
  display: flex;
  justify-content: center;
  align-items: center;
  transition: transform 0.5s ease;
  flex-direction: column;
}

.left-bar.move {
  transform: translateX(50px);
}
