#footer_outer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  box-shadow: var(--shadow-sm);
}

#footer_inner {
  height: 100%;
  background: var(--opa);
  transition: background 2s, height 2s;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer_item {
  text-decoration: none;
  font-size: 12px;
  color: black;
}

.footer_show { 
  height: 30px; 
}

.footer_hide { 
  height: 0px; 
}