/* Used in - C1Edit, C1Copy, C1Delete */

.article_icons_right {
  filter: grayscale(100%);
  opacity: .5;
  height: 100%;
  float: right;
  cursor: pointer;
}

/* Used in - F1Apex */

:root {
  --z-apex-height: 50px;
}

/* Used ... */

:root {
  --z-a: 10;
  --z-b: 20;
  --z-c: 30;
  --z-d: 40;
  --z-e: 50;
  --z-f: 60;
}
