/* Used in - C1Edit, C1Copy, C1Delete */

.article_icons_right {
  filter: grayscale(100%);
  opacity: .5;
  height: 100%;
  float: right;
  cursor: pointer;
}

/* Used in - F1Apex */

.apex_height {
  
}
