/* 
**
**
*/
#article_bar {
  height: 17px;
  margin-top: 8px;
}
.c1_favicon {
  filter: grayscale(100%);
  opacity: .5;
  height: 100%;
  float: left;
}


/*
**
**
*/
#article_bar_admin{
  height: 17px;
  margin-top: 8px;
}
