.apex_hold_hold{
  z-index: var(--z-a);
  background: var(--opa);
  transition: background 2s;
  box-shadow: var(--shadow-sm);  
  position: fixed;
  top: 0;
  left: 0;
  height: var(--z-apex-height);
  width: 100%;
  border-top: 2px solid #000;
  box-sizing: border-box
}

.apex_hold{
  display: flex;
  justify-content: space-between;
  height: 100%;
  padding:  0px 20px;
  transition: background 2s;
}

/* MEDIA
*/
@media screen and (max-width: 301px) {
  .apex_hold {
    width: 301px;
  }
}
